### import regex library

In [1]:
import re

## Q1) Matching String

In [2]:
w = "This is year 2030"

**1.1 Print first word's index range in `w`**

(0, 4)

**1.2 Print first word in `w`**

This

**1.3 Print first and second words in `w`**

This is

**1.4 Print third word in `w`**

year

**1.5 Print all digits in `w`**

2030

## Q2) Matching list

In [8]:
Names = ["Ahmed", "mohammed", "Sara", "amani", "Khalid", "abdullah", "abdulellah"]

**2.1 Print names starts with capital letters in `Names`**

Ahmed
Sara
Khalid

**2.2 Print names ends with d letter in `Names`**

Ahmed
mohammed
Khalid
abd
abd

**2.3 Print names that have more than 6 letters in `Names`**

mohammed
abdullah
abdulellah

**2.4 Print names that have less than 6 letters in `Names`**

Ahmed
Sara
amani

## Q3) Find All

In [13]:
numberbook = """
name: Mohammded
email: abc@gmail.com
phone: +966 555 555 555
name: Nourah
email: -def@outlook.com
phone: +966 666 555 777
name: Abdullah
email: g.hi@hotmail.com
phone: +966 134 000 555
name: Ahmed
email: 6j-k_L.M@hotmail.com
phone: +966 555 789 123
name: Rawan
email: n99obq@gmail.com
phone: +967 345 888 555
name: Haitham
email: n99obq@gmail.com
phone: +967 345 456 456
name: Amani
email: n88obq@hotmail.com
phone: +987 123 888 999
name: Hashim
email: n77obq@outlook.com
phone: +934 457 564 555"""

**3.1 Print all names in `numberbook`**

['Mohammded', 'Nourah', 'Abdullah', 'Ahmed', 'Rawan', 'Haitham', 'Amani', 'Hashim']

**3.2 all phone numbers in `numberbook`**

['+966 555 555 555', '+966 666 555 777', '+966 134 000 555', '+966 555 789 123', '+967 345 888 555', '+967 345 456 456', '+987 123 888 999', '+934 457 564 555']

**3.3 all phone numbers from Saudi Arabia `numberbook`**
- Note: starts with +966

['+966 555 555 555', '+966 666 555 777', '+966 134 000 555', '+966 555 789 123']

**3.4 print 'gamail' only emails in `numberbook`**

['abc@gmail.com', 'n99obq@gmail.com', 'n99obq@gmail.com']

## Q4) neighborhood Cleaning

In [18]:
import pandas as pd

In [19]:
neighbor = pd.read_csv('neighborhood.csv')
neighbor['neighbourhood'] = neighbor['neighbourhood'].str.strip()

**4.1 print all (two letter or less) records in `neighbourhood` column**

ة
مي
ط
د
صن
ى
ه
ري
م
اه
ان
ل
رة
ون
مد
ن
مة
وس
فا
ا
اص

**4.2 print all (Three letters) records in `neighbourhood` column**

بدر
احد
رات
مية
سيه
اني
لبن
سية
ذيف
فات
رفه
ويه

**4.2 print missy (one letter in first index) records in `neighbourhood` column**

ه بن خليفه
ى العصامي
ة نمار
ى الفرضي
ى بن مسعود
م بن عساكر
م قاضي
ي الدين البغوي
ى السديد
ة بن خليفة الكلبي
م بن الفرس
ى بن عبيد
ى بن جزلة
ى المعلمي
م الحريمي
ى بن ابراهيم الطالبي
م الكناني
ى الأزدي
ى الطبري
ى الطائي
ى السعدي
م بن القابلة
ى المدني
ى المفتي
ى بن عدى
ى الانباري
ى مؤذن
ى بن اكثم
ي بن عدي
ى بن عبدالله
ى بن خالد البرمكي
ى بن البناء
ى الواسطي
ى الصنهاجي
ى بن يى القرطبي
ى بن محمد الغرناطي
ى بن قزعة القرشي
ى الذماري
ى بن عبدالعزيز
ى الجفصي
ى بن أبي بكر
ى الوراق
ى الزبيدي
ى السلمي
ى بن القاسم
ى الكوفي
ى محمد الب
ي الدين النيسابوري
م المغربي
ي بن محمد الغرناطي
ى الشاذلي
ى الطالبي
ى - الجبيلة
ى الطائفي
ى بن عبدالرحمن
ى بن إسماعيل
ى بن قاسم
ى الانسي
ى التيمي
ف العنبري
ى الرازي
ى بن بكير
ى بن المقداد
ى الغرناطي
ى بن خلدون
ى القفصي
ى الأنسي
ى محمد يى الش
م الصديقي
ى بن صديق
ى بن عميرة
ي بن خالد البرمكي
ى التنوخي
ى بن غيهب
ى امان
ى البرمكي
م الخزرجي
ى الانطاكي
ي بن المبارك
ى الغماري

## Q5) Solve Plotly Lab 2 differently

In [23]:
df = pd.read_csv('Genres-Spoken.csv')

**4.1 From `df` Create Genres dataframe that hase two coulumns Genres and Frequency From `genres`**
- Add new catagory to Genres called Others when the Frequency < 200

             Genres  Frequency
0            Action       1156
1         Adventure        792
2           Fantasy        425
3   Science Fiction        538
4             Crime        697
5             Drama       2300
6          Thriller       1275
7         Animation        234
8            Family        514
9            Others         82
10           Comedy       1723
11          Romance        895
12           Horror        520
13          Mystery        348
14           Others        197
15           Others        144
16           Others        185
17           Others        110
18           Others         34
19           Others          8

**print top 5 languages in `spoken_languages` column.**

  LangName  number
0       en    4490
1       es     351
2       fr     438
3       it     188
4       de     262